
<p>

<span class="titulo">Fecha creación:</span> <span>{{noticia.fecha}}</span>

<span class="titulo">Autor:</span> <span>{{noticia.usuario_id}}</span>

<span class="titulo">Categoria:</span> <span>{{noticia.categoria_id}}</span>


</p>

<h1  style="text-align: center;">{{noticia.titular}}</h1>


<div class="row">
	<div class="col s12">

		<h5 class="justificado">{{noticia.entrada}}</h5>


		<p class="justificado">{{noticia.cuerpo}}</p>
	</div>
</div>
<!--<span class="titulo">Imagen</span>-->

<div class="row">
	<div class="col s12" style="text-align: center;">

<p>
	<img class="imagen-noticia" src={{noticia.imagen}} alt="">
</p>

	</div>
</div>


